body{
	font-family: 'Droid Serif', serif;
	font-size: 14px;
	color: #2f2f2f;
	background-color:#f9f7f1;
}
#container {
	/*width: 90%;
	margin: 10px auto;
	background-color: #fff;
	color: #333;
	border: 1px solid gray;
	line-height: 130%;*/
	
}
#top {
	padding: .5em;
	background-color: #ddd;
	border-bottom: 1px solid gray;
}
#buttons {
	font-family: "Open Sans", sans-serif;
  	font-size: 11px;
  	letter-spacing: 2px;
  	text-decoration: none;
  	color: #000;
  	cursor: pointer;
  	border: 2px solid;
  	padding: 0.25em 0.5em;
  	box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  	position: relative;
 	user-select: none;
  	-webkit-user-select: none;
  	touch-action: manipulation;
  	
}
#top header {
	padding: 0;
	margin: 0;
	font-family: 'Playfair Display', serif;
	font-weight: 900;
	font-size: 80px;
	text-transform: uppercase;
	display: inline-block;
	line-height:72px;
	margin-bottom:20px;
}
.subhead {
	text-transform: uppercase;
	border-bottom: 2px solid #2f2f2f;
	border-top: 2px solid #2f2f2f;
	padding: 12px 0 12px 0;
}
.head {
	text-align: center;
	position: relative;
	font-weight: 400;
    font-family: Trebuchet MS, sans-serif;
    font-size: 36px;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}
#leftnav {
	float: left;
	width: 160px;
	margin: 0;
	padding: 1em;
	text-align: center;
	position: relative;
}
#rightnav {
float: right;
width: 160px;
margin: 0;
padding: 1em;
text-align: center;
}
#content {
margin-left: 200px;
border-left: 1px solid gray;
margin-right: 200px;
border-right: 1px solid gray;
padding: 1em;
max-width: 36em;
text-align: center;
font-size: 14px;
}
#one {
	text-align: left;
}
.table {
border-spacing:1em;
}

.sunimg {
	width: 100%;
	height: auto;
}
#footer {
clear: both;
margin: 0;
padding: .5em;
color: #333;
background-color: #ddd;
border-top: 1px solid gray;
}
#leftnav p, #rightnav p { margin: 0 0 1em 0; }
#content h2 { margin: 0 0 .5em 0; }
